<script>
	import '../app.css';
	import 'iconify-icon';
	import { pb } from '../lib/pb';

	async function login() {
		await pb.collection('users').authWithOAuth2({ provider: 'gitlab' });
		location.reload();
	}
	async function logout() {
		await pb.authStore.clear();
		location.reload();
	}
</script>

<div class="flex-col h-screen flex m-auto max-w-2xl px-8">
	<div class="grow">
		<slot />
	</div>

	<footer class="flex justify-between footer py-6 text-neutral-500 text-xs">
		<div class="flex gap-4">
			<a class="link link-hover" target="_blank" href="https://asta.uni-goettingen.de/impressum/"
				>Imprint</a
			>
			<a class="link link-hover" target="_blank" href="https://asta.uni-goettingen.de/datenschutz/"
				>Privacy policy</a
			>
			<a
				class="link link-hover"
				target="_blank"
				href="https://asta.uni-goettingen.de/barrierefreiheit/">Accessibility</a
			>
		</div>
		<div class="flex gap-4">
			{#if pb.authStore.isValid}
				<a class="link link-hover" on:click={logout}>Logout</a>
			{/if}
		</div>
	</footer>
</div>
