<script>
	import { onMount } from 'svelte';
	import { pb } from '../lib/pb';
	const today = new Date(Date.now());
	const startWindowDate = new Date(today);
	startWindowDate.setDate(startWindowDate.getDate() - 1);
	startWindowDate.setHours(6);

	const oneMonthBefore = (date) => {
		let r = new Date(date);
		r.setDate(date.getDate() - 30);
		return r;
	};

	const date2IsoDateString = (date) => {
		return date.toISOString().split('T')[0];
	};

	let lastValue;
	pb.collection('occupancyHistory')
		.getList(1, 1, { sort: '-created', $cancelKey: 'currentlyOnline' })
		.then((data) => {
			lastValue = data.items[0].machinesOccupied;
		});
	let yesterdayValue;
	const yesterdayMinus1H = new Date(today);
	yesterdayMinus1H.setDate(yesterdayMinus1H.getDate() - 1);
	const yesterdayPlus1H = new Date(today);
	yesterdayMinus1H.setHours(yesterdayMinus1H.getHours() - 1);
	yesterdayPlus1H.setHours(yesterdayPlus1H.getHours() + 1);

	async function* getPaginatedList(collection, query, pageSize) {
		let totalPages = 1;
		for (let p = 1; p <= totalPages; p++) {
			let data = await pb.collection(collection).getList(p, pageSize, query);
			totalPages = data.totalPages;
			yield data.items;
		}
	}

	pb.collection('occupancyHistory')
		.getFullList(undefined, {
			filter: `created > "${date2IsoDateString(
				yesterdayMinus1H
			)}" && created < "${date2IsoDateString(yesterdayPlus1H)}"`,
			$cancelKey: 'lastWeekOnline'
		})
		.then((data) => {
			yesterdayValue = Math.max(...data.map((it) => it.machinesOccupied));
		});

	async function login() {
		await pb.collection('users').authWithOAuth2({ provider: 'gitlab' });
		location.reload();
	}

	onMount(async () => {
		pb.collection('occupancyHistory').subscribe('*', (e) => {
			lastValue = e.record.machinesOccupied;
		});

		const Plotly = await import('plotly.js-dist');

		var layout = {
			font: {
				size: 12,
				color: '#707070'
			},
			margin: {
				l: 0,
				r: 0,
				b: 0,
				t: 0,
				pad: 0
			},
			xaxis: {
				range: [startWindowDate, today],
				rangeslider: {},
				type: 'date',
				showgrid: false
			},
			yaxis: {
				autorange: true,
				range: [0, 50],
				type: 'linear'
			}
		};

		let plotElement = document.getElementById('timeseriesplot');

		Plotly.newPlot(
			plotElement,
			[
				{
					type: 'scatter',
					mode: 'lines',
					name: 'occupiedMachines',
					x: [],
					y: [],
					line: { color: '#570df8' }
				}
			],
			layout,
			{ responsive: true, displayModeBar: false }
		);

		for await (const newDataPoints of getPaginatedList(
			'occupancyHistory',
			{
				filter: `created > "${date2IsoDateString(oneMonthBefore(today))}"`,
				sort: '-created'
			},
			500
		)) {
			Plotly.extendTraces(
				plotElement,
				{
					x: [newDataPoints.map((r) => r['created']).map((d) => new Date(d))],
					y: [newDataPoints.map((r) => r['machinesOccupied'])]
				},
				[0]
			);
		}
	});
</script>

{#if pb.authStore.isValid}
	<h1 class="font-bold normal-case text-xl my-6">CIPometer</h1>

	<div class="gap-4 text-right mb-8">
		{#if lastValue !== undefined}
			<div class="font-extrabold text-5xl my-2">{lastValue}</div>
			<div class="text-neutral-500 text-xs my-2">persons currently logged in</div>
			<div class="text-neutral-500 text-xs my-2">
				A typical value for this time is {yesterdayValue}.
			</div>
		{/if}
		<div id="timeseriesplot" />
	</div>
{:else}
	<div class="hero my-32">
		<div class="hero-content text-center">
			<div class="max-w-md">
				<h1 class="text-5xl font-bold">CIPometer</h1>
				<p class="py-6">For privacy reasons, you need to log in to see anything.</p>
				<button class="btn btn-primary" on:click={login}>Log in</button>
			</div>
		</div>
	</div>
{/if}

<style>
</style>
